

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
	
}


.container{
	background-color: yellow;
}


#header_menu{
	background-color: pink;
}

main{
	background-color: red;
}

aside{
	background-color: blue;
}


ul.facts li{
	list-style: none;
	position: relative;
}

ul.facts span.number{
	position: absolute;
	right: 0;
	top: 0;
	font-size: 20px;
	color: red;
}

ul.facts li{
	border-bottom: 1px solid black;
	margin-bottom: 50px;
}

div.test{color:red;]